{% if page.url contains "named" %}

{% capture link_url %}{{ site.github.repository_url }}/tree/master/stencils/named/{{page.stencil_name}}/{{page.machine}}{% endcapture %}

{% capture link_text %}{{page.stencil_name}} / {{page.machine}}{% assign flavor_size = {{page.flavor | size}} %}{% if flavor_size != 0 %} / {{page.flavor}}{% endif %}{% endcapture %}


{% elsif page.url contains "stencil" %}

{% capture link_url %}{{ site.github.repository_url }}/tree/master/stencils/{{page.dimension}}/{{page.radius}}/{{page.weighting}}/{{page.kind}}/{{page.coefficients}}/{{page.datatype}}/{{page.machine}}{% endcapture %}

{% capture link_text %}{{page.dimension}} / {{page.radius}} / {{page.weighting}} / {{page.kind}} / {{page.coefficients}} / {{page.datatype}} / {{page.machine}}{% assign flavor_size = {{page.flavor | size}} %}{% if flavor_size != 0 %} / {{page.flavor}}{% endif %}{% endcapture %}

{% elsif page.url contains "machines" %}

{% capture link_url %}{{ site.github.repository_url }}/blob/master/_data/machine_files/{{page.machine}}.yml{% endcapture %}
{% capture link_text %}Machine: {{page.machine | replace: '_', ' '}}{% endcapture %}

{% elsif page.url contains "machinefiles" %}

{% capture link_url %}{{ site.github.repository_url }}/blob/master/_data/machine_files/{% endcapture %}
{% capture link_text %}Machine File Overview{% endcapture %}

{% else %}

{% capture link_text %}{{page.title}}{% endcapture %}

{% endif %}

<div id="navbar">
<a href="{{link_url}}">{{link_text}}</a>
</div>
